# Server Configuration
SERVER_PORT=8085
SERVER_ADDRESS=0.0.0.0

# Database Configuration
DB_URL=jdbc:mysql://192.200.12.37:3306/research_dummy_db?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USERNAME=admin
DB_PASSWORD=Srdt@217

# JWT Security Configuration
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
JWT_EXPIRATION_MS=86400000

# CORS Configuration (* allows all origins, or comma-separated: http://10.8.20.38:2048,http://localhost:2048)
CORS_ALLOWED_ORIGINS=*

